In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
pd.options.mode.chained_assignment = None

In [2]:
wodsDF = pd.read_csv('../data/processed/wodsDF.csv',)
wodsDF

,Name,href,Views,Likes,ForTime,EMOM,AMRAP,run,pull up,push up,...,flutter kicks,kb headcutters,kb taters,shoulder taps,arch ups,dumbbell floor presses,a jumps,crab walk,tuck ups,chin ups
0,MURPH,https://wodwell.com/wod/murph,345700.0,2300.0,True,False,False,1600.0,100.0,200.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,DT,https://wodwell.com/wod/dt,389600.0,2100.0,True,False,False,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,CINDY,https://wodwell.com/wod/cindy,305300.0,2400.0,False,False,True,0.0,30.0,60.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,BEAR COMPLEX,https://wodwell.com/wod/bear-complex,335400.0,1500.0,True,False,False,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,FIGHT GONE BAD,https://wodwell.com/wod/fight-gone-bad,262600.0,877.0,True,False,False,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2599,WEIGHTS FOR WARRIORS,https://wodwell.com/wod/weights-for-warriors,4000.0,14.0,True,False,False,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2600,BABY WHALE,https://wodwell.com/wod/baby-whale,2200.0,12.0,True,False,False,300.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2601,BARE COVE TRAVEL WOD 3,https://wodwell.com/wod/bare-cove-travel-wod-3,1100.0,4.0,False,False,True,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2602,BARE COVE TRAVEL WOD 7,https://wodwell.com/wod/bare-cove-travel-wod-7,1500.0,13.0,True,False,False,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2603,HOCUS POCUS – THE SANDERSON SISTERS,https://wodwell.com/wod/hocus-pocus-2/,24200.0,44.0,True,False,False,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
wodsDF.describe()

,Views,Likes,run,pull up,push up,air squat,deadlift,clean,jerk,complex,...,flutter kicks,kb headcutters,kb taters,shoulder taps,arch ups,dumbbell floor presses,a jumps,crab walk,tuck ups,chin ups
count,2604.000000,2604.000000,2604.000000,2.604000e+03,2.604000e+03,2604.000000,2604.000000,2604.000000,2604.000000,2604.000000,...,2604.0,2604.0,2604.0,2604.0,2604.0,2604.0,2604.0,2604.0,2604.0,2604.0
mean,14722.521121,81.011521,159.213518,4.140091e+03,2.879877e+03,8.871352,259.663594,54.051075,0.264593,0.149770,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
std,38145.092610,255.618085,1159.457560,1.981005e+05,1.315845e+05,331.401791,13064.361316,2192.557975,4.086779,3.200652,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,207.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,1900.000000,7.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50%,3900.000000,19.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
75%,10100.000000,52.250000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
max,389600.000000,3500.000000,32000.000000,1.010110e+07,6.666666e+06,16825.000000,666666.000000,111111.000000,151.000000,144.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
maxToInvest = {}
for col in list(wodsDF.columns)[7:]:
    tempMax = wodsDF[col].max()
    if tempMax != 0:
        maxToInvest[col] = tempMax

In [5]:
for col in maxToInvest.keys():
    print(wodsDF[wodsDF[col]==maxToInvest[col]][['Name',col]])

                    Name      run
1447  MSG KELLY HORNBECK  32000.0
                         Name     pull up
1938  THE PROGRM MASH WEEK 03  10101099.0
             Name    push up
251  GODDESSMAKER  6666666.0
                      Name  air squat
1116  THE 13 FALLEN HEROES    16825.0
                 Name  deadlift
1187  ASGARD STRENGTH  666666.0
         Name     clean
727  RAGNARÖK  111111.0
                  Name   jerk
2025  JONATHAN HOLMANN  151.0
     Name  complex
694  KOBE    144.0
                         Name  front squat
1938  THE PROGRM MASH WEEK 03    1123210.0
              Name  push press
961  RICARDO QUINN       315.0
             Name  back squat
243  THE THIRTEEN   1444443.0
             Name  wall ball
1352  ZACK GEORGE    20200.0
              Name  sumo deadlift high pull
1996  (GYM)WOD #84                    180.0
                      Name  box jump
823  THE OKLAHOMA STANDARD     672.0
                              Name       row
2278  THE PROGRM MASH WEEK 03 2022  202020.0
                               Name      rest
739  TUNNEL OF LOVE + ROSES ARE RED  300090.0
                 Name   burpee
1175  ONE MIND 1FORCE  11070.0
                      Name    lunge
1116  THE 13 FALLEN HEROES  14806.0
      Name  sit up
256  ALICE  1200.0
      Name  clean and jerk
226  RENEE           290.0
                     Name  handstand push up
1475  EMOM PUMP CHALLENGE              200.0
            Name  thruster
1918  MEGA POWER  100100.0
                       Name  kettlebell swing
2112  ANTIPOLIS HOME WOD 51           22500.0
        Name  bear crawl
292  BRENTON       500.0
        Name  back extension
169  MICHAEL           150.0
                         Name  double under
1938  THE PROGRM MASH WEEK 03  1.008060e+10
        Name  overhead squat
398  THE FIT         11111.0
      Name     ski
796  LEWIS  5000.0
                         Name  snatch
2252  THE PROGRM MASH WEEK 05  2790.0
                 Name  muscle up
1348  KOKKIE & PEPPIE      100.0
            Name     bike
773  ASSAULT-CON  64000.0
                Name  bench press
215   MICHAEL KIEFER        100.0
652    SWOLE & SWEAT        100.0
1328   (GYM)WOD #125        100.0
          Name  wall walk
138  OPEN 21.1       55.0
                      Name   squat
2342  ONE ZONE HOME WOD 31  5050.0
      Name   curl
38  POPEYE  180.0
        Name  hollow rock
2062  THE 13        234.0
                           Name   v up
2040  BIGDOG STRENGTH AT HOME 2  543.0
            Name  hollow hold
39  DURANTE CORE         50.0
        Name  toes to bar
126  LINDSAY        240.0
                     Name  pistol
1951  LIVING ROOM MASH 97   110.0
       Name   sprint
361  SPRINT  23050.0
           Name  shoulder to overhead
578  FRIDAY FUN                 280.0
      Name  sled pull
647  BERRY      250.0
               Name  curtis p
104  OH NO CURTIS P     100.0
          Name  broad jump
2465  TTTAHTD3       720.0
                         Name  cluster
2442  THE PROGRM MASH WEEK 16    510.0
          Name  single under
1615  BACKLUND       10000.0
     Name  makers
290  CHOE    99.0
             Name  devil press
243  THE THIRTEEN        169.0
                     Name  jumping jack
2149  LIVING ROOM MASH 16         234.0
            Name  ghd sit up
1340  STEVE HILL       120.0
                    Name  overhead lunge
572  AMRAP 4 AUTISM 2021           540.0
                 Name  ground to overhead
2018  PAN-US WAY TEST              1500.0
    Name  turkish get up
837  MLK           150.0
      Name  rope climb
2373  MEAD      1290.0
          Name  handstand walk
2465  TTTAHTD3           360.0
                         Name  burpee pull up
2442  THE PROGRM MASH WEEK 16          5075.0
          Name  ring dip
2358  PATRICIA     400.0
        Name  sled push
1960  ICON 6     2000.0
          Name  plank
571  GREG ALIA  744.0
               Name  wall sit
2067  8. NUTCRACKER     600.0
           Name  step up
2085  PSD DUTCH   2370.0
          Name  mountain climber
639  THE CLIMB            1200.0
        Name  box step over
720  GRINDER          520.0
             Name  shoulder press
897  (GYM)WOD #57           600.0
                      Name      dip
2342  ONE ZONE HOME WOD 31  10100.0
                      Name  side plank
2229  ONE ZONE HOME WOD 56       100.0
                       Name  kettlebell high pull
2112  ANTIPOLIS HOME WOD 51                1500.0
               Name  good morning
2496  (GYM)WOD #149          60.0
                      Name  sled drag
2459  SCHOOL YARD BULLSH*T     1600.0
       Name  waiter
314  WESTON   250.0
                               Name  slam ball
739  TUNNEL OF LOVE + ROSES ARE RED      180.0
                              Name  devils press
1092  THE PROGRM MASH WEEK 12 2022        1100.0
       Name   swim
371  ROCKET  500.0
        Name  triple under
414  CAMERON          25.0
              Name  up down
1838  FULL BODY #8    855.0
           Name  suitcase
2559  BABY CORE    1000.0
         Name  hip extension
930  7/4/1776          119.0
               Name  row cal
1162  BECOMING NUMB     30.0
       Name  burden carry
314  WESTON        1000.0
                              Name   bmu
1883  THE PROGRM MASH WEEK 43 2021  30.0
2271  THE PROGRM MASH WEEK 48 2021  30.0
                         Name   rmu
2419  THE PROGRM MASH WEEK 31  60.0
                     Name  situp
2474  BASELINE ON-THE-8'S   30.0

In [6]:
toSkip = ['run','sumo deadlift high pull','handstand push up','bear crawl','back extension','bike','bench press',\
          'wall walk','hollow hold','hollow rock','pistol','sprint','shoulder to overhead','sled pull','curtis p',\
          'broad jump','single under','makers','jumping jack','ghd sit up','overhead lunge','turkish get up',\
          'handstand walk','sled push','plank','wall sit','box step over','side plank','good morning','sled drag',\
          'waiter','slam ball','swim','triple under','up down','suitcase','hip extension','row cal','burden carry',\
          'bmu','rmu','situp']

In [7]:
for col in maxToInvest.keys():
    if col not in toSkip:
        wodsDF = wodsDF[wodsDF[col]!=maxToInvest[col]]

In [8]:
maxToInvest = {}
for col in list(wodsDF.columns)[7:]:
    tempMax = wodsDF[col].max()
    if tempMax != 0 and col not in toSkip:
        maxToInvest[col] = tempMax

In [9]:
for col in maxToInvest.keys():
    print(wodsDF[wodsDF[col]==maxToInvest[col]][['Name',col]])

                      Name   pull up
1539  THE TIGER'S WHISKERS  306090.0
                Name   push up
2304  (HOME)WORK #21  804020.0
                                Name  air squat
2414  CURFEW SOLUTION (HOME WORKOUT)     1200.0
               Name  deadlift
990  9. BAUBLE BUTT    2020.0
      Name    clean
152  SEEDY  11296.0
            Name  jerk
131    DOUBLE DT  60.0
2436  WOD2012001  60.0
       Name  complex
585  TACO44     44.0
         Name  front squat
957  MAXE2MOM    1111112.0
                 Name  push press
310  BREAK UP/MAKE UP       198.0
         Name  back squat
2320  COLONEL    888888.0
            Name  wall ball
402        DORIE      900.0
918   VAN AALTEN      900.0
1010       HOLLY      900.0
                 Name  box jump
529   VALENTINE’S DAY     250.0
1950    PAINSTORM XVI     250.0
2013         FRANCIUM     250.0
                Name      row
1512  BRADLEY LOWERY  12102.0
                       Name    rest
2587  ANTIPOLIS HOME WOD 39  8400.0
                             Name  burpee
870  THE PROGRM MASH WEEK 18 2022  2016.0
                Name    lunge
2102  (HOME)WORK #46  10050.0
          Name  sit up
2151  FREIWALD   911.0
                 Name  clean and jerk
2441  MICHAEL MONTESI           220.0
                         Name  thruster
2133  THE PROGRM MASH WEEK 52    1020.0
             Name  kettlebell swing
644   GRAND FERRÉ             300.0
1619      BAM BAM             300.0
              Name  double under
1910  (GYM)WOD #74       40404.0
                        Name  overhead squat
744  MIDLINE ACTIVE SHOULDER          3333.0
       Name     ski
158  CARDIO  1600.0
                         Name  snatch
2133  THE PROGRM MASH WEEK 52  1010.0
    Name  muscle up
422  KEV       72.0
                             Name   squat
870  THE PROGRM MASH WEEK 18 2022  1511.0
               Name   curl
2221  (GYM)WOD #148  150.0
          Name   v up
535  LOCK DOWN  110.0
        Name  toes to bar
1314  SŁOWIK        208.0
          Name  cluster
70  CHRIS KYLE    120.0
             Name  devil press
1031  BUSHWHACKER         60.0
                       Name  ground to overhead
380  AGENT BILLY CLARDY III               304.0
                             Name  rope climb
446  THE PROGRM MASH WEEK 20 2022      1150.0
                         Name  burpee pull up
2353  THE PROGRM MASH WEEK 08          2015.0
              Name  ring dip
476  PAINSTORM VII      50.0
849           PIKE      50.0
                    Name  step up
2132  LIVING ROOM MASH 7    500.0
         Name  mountain climber
945  MARADONA             861.0
            Name  shoulder press
1499  THE HAMMER           200.0
              Name    dip
929  THE BIG NASTY  200.0
             Name  kettlebell high pull
282  RANDY SAVAGE                  25.0
                             Name  devils press
446  THE PROGRM MASH WEEK 20 2022         520.0

In [10]:
toAppend=['jerk','air squat','complex','push press','wall ball',\
              'box jump','row','sit up','clean and jerk','kettlebell swing'\
              ,'ski','muscle up','curl','v up','toes to bar','cluster','devil press'\
              ,'ground to overhead','ring dip','step up','mountain climber','shoulder press'\
              ,'dip','kettlebell high pull','devils press']
for move in toAppend:
    toSkip.append(move)

In [11]:
for col in maxToInvest.keys():
    if col not in toSkip:
        wodsDF = wodsDF[wodsDF[col]!=maxToInvest[col]]

In [12]:
maxToInvest = {}
for col in list(wodsDF.columns)[7:]:
    tempMax = wodsDF[col].max()
    if tempMax != 0 and col not in toSkip:
        maxToInvest[col] = tempMax

In [13]:
for col in maxToInvest.keys():
    print(wodsDF[wodsDF[col]==maxToInvest[col]][['Name',col]])

      Name   pull up
810  CINCY  255075.0
          Name  push up
395  BODY PUMP   1515.0
                     Name  deadlift
2224  CARING FOR COURTNEY     606.0
            Name   clean
703  I’MMA TIRED  1300.0
          Name  front squat
979  ARANA JR.     111111.0
             Name  back squat
608   PAINSTORM X    111111.0
1809      ARTEMIS    111111.0
2167         1985    111111.0
                         Name    rest
2593  THE PROGRM MASH WEEK 36  1530.0
                                Name  burpee
2414  CURFEW SOLUTION (HOME WORKOUT)  1200.0
                Name   lunge
1813  (HOME)WORK #41  8040.0
                              Name  thruster
1376  THE PROGRM MASH WEEK 05 2022     750.0
               Name  double under
2111  RYAN MURAMOTO        2200.0
     Name  overhead squat
179  JOSH           150.0
              Name  snatch
2388  (GYM)WOD #99   400.0
                      Name  squat
297          (HOME)WORK #1  300.0
1433  365 EMBRACE THE SUCK  300.0
       Name  rope climb
871  JONESY       126.0
       Name  burpee pull up
114  CLOVIS           150.0

In [14]:
toAppend = ['burpee','double under','overhead squat','rope climb','burpee pull up']
for move in toAppend:
    toSkip.append(move)

In [15]:
for col in maxToInvest.keys():
    if col not in toSkip:
        wodsDF = wodsDF[wodsDF[col]!=maxToInvest[col]]

In [16]:
maxToInvest = {}
for col in list(wodsDF.columns)[7:]:
    tempMax = wodsDF[col].max()
    if tempMax != 0 and col not in toSkip:
        maxToInvest[col] = tempMax

In [17]:
for col in maxToInvest.keys():
    print(wodsDF[wodsDF[col]==maxToInvest[col]][['Name',col]])

                     Name  pull up
298   CINDY FULL OF GRACE  51015.0
2289            MARY-BETH  51015.0
         Name  push up
1072  CAR 294    600.0
               Name  deadlift
1704  PETER HERRERA     495.0
                      Name   clean
585                 TACO44  1111.0
1318          PAINSTORM II  1111.0
2097  JAM SH!T SHOW 210804  1111.0
           Name  front squat
1901  CEES HAAK       2222.0
      Name  back squat
1401  ENIS    111110.0
               Name   rest
1297  MICHAEL CARLO  600.0
               Name   lunge
1704  PETER HERRERA  2200.0
              Name  thruster
323  ROBERT COMLEY     308.0
              Name  snatch
323  ROBERT COMLEY   308.0
    Name  squat
377  NHS  228.0

In [18]:
toAppend = ['push up','deadlift','rest','thruster','snatch','squat']
for move in toAppend:
    toSkip.append(move)

In [19]:
for col in maxToInvest.keys():
    if col not in toSkip:
        wodsDF = wodsDF[wodsDF[col]!=maxToInvest[col]]

In [20]:
maxToInvest = {}
for col in list(wodsDF.columns)[7:]:
    tempMax = wodsDF[col].max()
    if tempMax != 0 and col not in toSkip:
        maxToInvest[col] = tempMax

In [21]:
for col in maxToInvest.keys():
    print(wodsDF[wodsDF[col]==maxToInvest[col]][['Name',col]])

                    Name  pull up
2171  CAPTAIN DAVID DORN   2926.0
              Name  clean
1838  FULL BODY #8  855.0
     Name  front squat
845  ODIN        333.0
                          Name  back squat
1127                   CLAYTON     55555.0
2283  STREET PARKING SANDBAG 4     55555.0
      Name  lunge
559  MARIA  688.0

In [22]:
toAppend = ['front squat','clean','lunge']
for move in toAppend:
    toSkip.append(move)

In [23]:
for col in maxToInvest.keys():
    if col not in toSkip:
        wodsDF = wodsDF[wodsDF[col]!=maxToInvest[col]]

In [24]:
maxToInvest = {}
for col in list(wodsDF.columns)[7:]:
    tempMax = wodsDF[col].max()
    if tempMax != 0 and col not in toSkip:
        maxToInvest[col] = tempMax

In [25]:
for col in maxToInvest.keys():
    print(wodsDF[wodsDF[col]==maxToInvest[col]][['Name',col]])

         Name  pull up
2492  JOHN MC    869.0
           Name  back squat
1633  PETER PAN     44444.0

In [26]:
bearComplex = wodsDF[np.logical_or(wodsDF['back squat'] == 11111.0, wodsDF['back squat']==44444.0)]

In [27]:
numToBear = {}
for name in bearComplex['Name']:
    numToBear[name] = bearComplex[bearComplex['Name']==name]['back squat']/11111.0

In [28]:
for loc in range(len(wodsDF)):
    tempName = wodsDF['Name'].iloc[loc]
    if tempName in numToBear.keys():
        wodsDF['back squat'].iloc[loc] = float(numToBear[tempName])
        wodsDF['clean'].iloc[loc] += float(numToBear[tempName])
        wodsDF['push press'].iloc[loc] += float(numToBear[tempName]*2)
        wodsDF['front squat'].iloc[loc] += float(numToBear[tempName])

In [29]:
wodsDF.describe()

,Views,Likes,run,pull up,push up,air squat,deadlift,clean,jerk,complex,...,flutter kicks,kb headcutters,kb taters,shoulder taps,arch ups,dumbbell floor presses,a jumps,crab walk,tuck ups,chin ups
count,2531.000000,2531.000000,2531.000000,2531.000000,2531.000000,2531.000000,2531.000000,2531.000000,2531.000000,2531.000000,...,2531.0,2531.0,2531.0,2531.0,2531.0,2531.0,2531.0,2531.0,2531.0,2531.0
mean,14823.372580,81.835638,153.374951,2.590281,3.124457,2.420387,2.047017,2.433821,0.212564,0.041486,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
std,38516.280549,258.512326,1075.525704,29.107910,23.417079,34.245387,12.652351,20.879266,2.863263,0.754602,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,207.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,1900.000000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50%,3900.000000,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
75%,10150.000000,53.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
max,389600.000000,3500.000000,32000.000000,869.000000,600.000000,1200.000000,165.000000,855.000000,60.000000,21.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [30]:
for col in list(wodsDF.columns)[7:]:
    if int(wodsDF[col].max()) == 0:
        wodsDF.drop(labels = col,axis=1,inplace=True)

In [31]:
wodsDF.describe()

,Views,Likes,run,pull up,push up,air squat,deadlift,clean,jerk,complex,...,swim,triple under,up down,suitcase,hip extension,row cal,burden carry,bmu,rmu,situp
count,2531.000000,2531.000000,2531.000000,2531.000000,2531.000000,2531.000000,2531.000000,2531.000000,2531.000000,2531.000000,...,2531.000000,2531.000000,2531.000000,2531.000000,2531.000000,2531.000000,2531.000000,2531.000000,2531.000000,2531.000000
mean,14823.372580,81.835638,153.374951,2.590281,3.124457,2.420387,2.047017,2.433821,0.212564,0.041486,...,0.395101,0.009878,0.512841,0.572896,0.047017,0.019755,2.705255,0.023706,0.039510,0.011853
std,38516.280549,258.512326,1075.525704,29.107910,23.417079,34.245387,12.652351,20.879266,2.863263,0.754602,...,12.168204,0.496929,17.643666,20.676974,2.365380,0.716550,35.926210,0.843149,1.347821,0.596314
min,207.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1900.000000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3900.000000,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,10150.000000,53.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,389600.000000,3500.000000,32000.000000,869.000000,600.000000,1200.000000,165.000000,855.000000,60.000000,21.000000,...,500.000000,25.000000,855.000000,1000.000000,119.000000,30.000000,1000.000000,30.000000,60.000000,30.000000

In [32]:
wodsDF.to_csv('../data/processed/wodsCleaned.csv',index=False)